<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- 帐号 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_name">权限组名称</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <input nz-input formControlName="group_name" id="group_name" laceholder="请输入权限组名称">
      <nz-form-explain *ngIf="validateForm.get('group_name').dirty && validateForm.get('group_name').errors">
        <!-- <ng-container *ngIf="validateForm.get('group_name').errors">请输入正确的帐号</ng-container> -->
        <ng-container *ngIf="validateForm.get('group_name').hasError('required')">请输入权限组名称</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

  </nz-form-item>


  <!-- 保存修改按钮 -->
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="5" [nzOffset]="6">
      <button nz-button nzType="primary" class="btn-sub">新建权限组</button>
    </nz-form-control>
    <nz-form-control [nzSpan]="5">
      <a nz-button nzType="default" class="btn-sub fr" routerLink="../userpermgroup">取消</a>
    </nz-form-control>
  </nz-form-item>
</form>
<div style="border-bottom: 1px solid rgb(233, 233, 233);">
  <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
    Check all
  </label>
</div>
<br>
<nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
