<!-- 搜索框 -->
<div class="searchBox">
  <nz-input-group nzCompact>
    <nz-select class="searchKey" [(ngModel)]="searchinfo.key">
      <nz-option [nzLabel]="'组名'" [nzValue]="'group_name'"></nz-option>
      <nz-option [nzLabel]="'ID'" [nzValue]="'pid'"></nz-option>
    </nz-select>
    <input type="text" nz-input [(ngModel)]="searchinfo.value" style="width:50%;">
    <button (click)="filterlistdata(searchinfo,true)" nz-button nzType="danger" nzSearch>
      <i class="anticon anticon-close-circle-o"></i>
    </button>
    <button (click)="filterlistdata(searchinfo)" nz-button nzType="primary" nzSearch>
      <i class="anticon anticon-search"></i>
    </button>
  </nz-input-group>
</div>
<!-- 模特分组 -->
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="pagedata.datares.length>0?pagedata.datares:pagedata.dataset"
  [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageChange()"
  (nzPageSizeChange)="PageSizeChange(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="pid">ID</th>
      <th nzShowSort nzSortKey="group_name" nzShowFilter [nzFilters]="stylelist" (nzFilterChange)="filter('g_type',$event)">组名</th>
      <th>
        操作&nbsp;
        <a routerLink="../addmodelgroup">添加(风格/标签/分组)</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data;let i = index">
      <td>{{data.gid}}</td>
      <td>{{data.group_name}}</td>
      <td>
        <a routerLink="../editmodelgroup/{{data.gid}}">编辑</a>
        &nbsp;
        <a *ngIf="data.station" (click)="forbiddengroup(data.gid,i,true)">停用</a>
        <a *ngIf="!data.station" (click)="forbiddengroup(data.gid,i,false)">启用</a>
      </td>
    </tr>
  </tbody>
</nz-table>
