<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <h1>新网模特管理系统登录</h1>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <input type="text" nz-input formControlName="userName" placeholder="Username">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入用户名!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住我</span>
      </label>
      <a class="login-form-forgot" routerLink="../findpwd">忘记密码</a>
      <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">登录</button>
      Or
      <a routerLink="../reg">现在注册</a>
    </nz-form-control>
  </nz-form-item>
</form>
