<!-- <div class="table-operations">
  <button nz-button (click)="sort('age','descend')">Sort age</button>
  <button nz-button (click)="resetFilters()">Clear filters</button>
  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
</div> -->
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="dataSet" [nzLoading]="loading" [nzTotal]="total"
  [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="PageSizeChange(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="pid">ID</th>
      <th nzShowSort nzSortKey="group_name">组名</th>
      <th>
        操作&nbsp;
        <a routerLink="../addpermgroup/">新建权限组</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data;let i = index">
      <td>{{data.pid}}</td>
      <td>{{data.group_name}}</td>
      <td>
        <a routerLink="../editpermgroup/{{data.pid}}">编辑</a>
        &nbsp;
        <a *ngIf="data.station" (click)="forbiddengroup(data.pid,i,true)">停用</a>
        <a *ngIf="!data.station" (click)="forbiddengroup(data.pid,i,false)">启用</a>
      </td>
    </tr>
  </tbody>
</nz-table>
