<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- 帐号 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">帐号</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <input nz-input formControlName="username" id="username" (ngModelChange)="checkhased(1)" laceholder="请输入登录帐号/手机号">
      <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">
        <!-- <ng-container *ngIf="validateForm.get('username').errors">请输入正确的帐号</ng-container> -->
        <ng-container *ngIf="validateForm.get('username').hasError('required')">请输入帐号</ng-container>
        <ng-container *ngIf="validateForm.get('username').hasError('hased')">用户名已存在</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <!-- 昵称 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
      <span>
        昵称
        <nz-tooltip nzTitle="What do you want other to call you">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <input nz-input id="nickname" formControlName="nickname" (ngModelChange)="checkhased(2)">
      <nz-form-explain *ngIf="validateForm.get('nickname').dirty && validateForm.get('nickname').errors">
        <!-- <ng-container *ngIf="validateForm.get('nickname').errors">请输入正确的昵称</ng-container> -->
        <ng-container *ngIf="validateForm.get('nickname').hasError('required')">请输入昵称</ng-container>
        <ng-container *ngIf="validateForm.get('nickname').hasError('hased')">昵称已存在</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <!-- 修改密码 -->
  <ng-container>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your password!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
        <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
            请确认输入的密码
          </ng-container>
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
            两次输入的密码不同！
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <!-- 手机号 -->
  <ng-container>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <!-- <nz-option nzLabel="+87" nzValue="+87"></nz-option> -->
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
          <ng-container *ngIf="validateForm.get('phoneNumber').hasError('required')">
            请输入手机号
          </ng-container>
          <ng-container *ngIf="validateForm.get('phoneNumber').hasError('isphone')">
            请输入有效的手机号！
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <!-- 用户权限分组 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">用户权限组</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <nz-select formControlName="permgroup" >
        <ng-container *ngFor="let item of userPermGroup">
          <nz-option nzValue="{{item.gid}}" nzLabel="{{item.group_name}}"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- 保存修改按钮 -->
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="5" [nzOffset]="6">
      <button nz-button nzType="primary" class="btn-sub">新建用户</button>
    </nz-form-control>
    <nz-form-control [nzSpan]="5">
      <a nz-button nzType="default" class="btn-sub fr" routerLink="../userlist">取消</a>
    </nz-form-control>

  </nz-form-item>

</form>
