<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- 昵称 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
      <span>
        昵称
        <nz-tooltip nzTitle="模特在页面上显示的名字">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <input nz-input id="nickname" formControlName="nickname">
      <nz-form-explain *ngIf="validateForm.get('nickname').dirty && validateForm.get('nickname').errors">
        <!-- <ng-container *ngIf="validateForm.get('nickname').errors">请输入正确的昵称</ng-container> -->
        <ng-container *ngIf="validateForm.get('nickname').hasError('required')">请输入模特称呼</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <!-- 头像 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
      <span>
        头像
        <nz-tooltip nzTitle="模特在小程序中显示的头像">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" class="userheadimg">
      <input nz-input id="headimg" type="hidden" formControlName="headimg">
      <nz-upload class="avatar-uploader" nzAction="{{imgUploadUrl}}" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
        <ng-container *ngIf="!validateForm.get('headimg').value">
          <i class="anticon anticon-plus"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="validateForm.get('headimg').value" [src]="validateForm.get('headimg').value" class="avatar">
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <!-- 身高 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="height">
      <span>
        身高
        <nz-tooltip nzTitle="模特的身高-单位(cm)">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="3" [nzXs]="24">
      <input nz-input id="height" formControlName="height">
    </nz-form-control>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="weight">
      <span>
        体重
        <nz-tooltip nzTitle="模特的体重-单位kg">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="3" [nzXs]="24">
      <input nz-input id="weight" formControlName="weight">
    </nz-form-control>
  </nz-form-item>
  <!-- 三围 -->
  <nz-form-item>
    <!-- 胸围 -->
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bust">
      <span>
        胸围
        <nz-tooltip nzTitle="模特的胸围-单位(cm)">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="2" [nzXs]="24">
      <input nz-input id="bust" formControlName="bust">
    </nz-form-control>
    <!-- 腰围 -->
    <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="waist">
      <span>
        腰围
        <nz-tooltip nzTitle="模特的腰围-单位(cm)">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="2" [nzXs]="24">
      <input nz-input id="waist" formControlName="waist">
    </nz-form-control>
    <!-- 臀围 -->
    <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="hips">
      <span>
        臀围
        <nz-tooltip nzTitle="模特的臀围-单位(cm)">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="2" [nzXs]="24">
      <input nz-input id="hips" formControlName="hips">
    </nz-form-control>
  </nz-form-item>
  <!-- 衣服码数 -->
  <nz-form-item>
    <!-- 衣服码数 -->
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="clothsize">
      <span>
        衣服码数
        <nz-tooltip nzTitle="模特的衣服码数">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="3" [nzXs]="24">
      <input nz-input id="clothsize" formControlName="clothsize">
    </nz-form-control>
    <!-- 鞋码 -->
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="shoessize">
      <span>
        鞋码
        <nz-tooltip nzTitle="模特的鞋码">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="3" [nzXs]="24">
      <input nz-input id="shoessize" formControlName="shoessize">
    </nz-form-control>
  </nz-form-item>
  <!-- 模特风格 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">
      <span>
        模特风格
        <nz-tooltip nzTitle="模特风格,多选,最多3个">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <nz-select formControlName="modelstyle" [nzMaxMultipleCount]="3" style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择模特所属风格">
        <nz-option *ngFor="let item of userStyle" [nzLabel]="item.group_name" [nzValue]="item.gid"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- 模特标签 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">
      <span>
        模特标签
        <nz-tooltip nzTitle="模特TAG,多选,最多5个">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <nz-select formControlName="tags" [nzMaxMultipleCount]="5" style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择模特所属风格">
        <nz-option *ngFor="let item of userTag" [nzLabel]="item.group_name" [nzValue]="item.gid"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- 真实姓名 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="realname">
      <span>
        真实姓名
        <nz-tooltip nzTitle="模特的真实姓名">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <input nz-input id="realname" formControlName="realname">
      <nz-form-explain *ngIf="validateForm.get('realname').dirty && validateForm.get('realname').errors">
        <!-- <ng-container *ngIf="validateForm.get('realname').errors">请输入正确的昵称</ng-container> -->
        <ng-container *ngIf="validateForm.get('realname').hasError('required')">请输入模特姓名</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <!-- 手机号 -->
  <ng-container>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <!-- <nz-option nzLabel="+87" nzValue="+87"></nz-option> -->
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
          <ng-container *ngIf="validateForm.get('phoneNumber').hasError('required')">
            请输入手机号
          </ng-container>
          <ng-container *ngIf="validateForm.get('phoneNumber').hasError('isphone')">
            请输入有效的手机号！
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <!-- 分组 -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">
      <span>
        模特分组
        <nz-tooltip nzTitle="模特分组">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24">
      <nz-select formControlName="group">
        <ng-container *ngFor="let item of userGroup">
          <nz-option nzValue="{{item.gid}}" nzLabel="{{item.group_name}}"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- 保存修改按钮 -->
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="5" [nzOffset]="6">
      <button nz-button nzType="primary" class="btn-sub">新建模特</button>
    </nz-form-control>
    <nz-form-control [nzSpan]="5">
      <a nz-button nzType="default" class="btn-sub fr" routerLink="../userlist">取消</a>
    </nz-form-control>

  </nz-form-item>

</form>
