<h3>
  <span class="title">照片集</span>
  <a routerLink="../../modelimggroupadd/{{uid}}" class="add">+添加</a>modelimggroupadd
</h3>
<div class="imgBox">
  <ng-container *ngIf="pagedata">
    <nz-card *ngFor="let item of pagedata.videos" class="cellbox">
      <img class="coverimg" alt="example" [src]="item.cover" />
      <nz-card-meta class="infobox" [nzTitle]="item.title" [nzDescription]="item.desc"></nz-card-meta>
      <a routerLink="../../modelimggroup/{{uid}}/{{item.cid}}" class="control-box">
        <i class="anticon anticon-edit"></i>
      </a>
    </nz-card>
  </ng-container>
</div>
<h3>
  <span class="title">视频</span>
  <a class="add" routerLink="../../modelvideoadd/{{uid}}">+添加</a>
</h3>
<div class=" videobox ">
  <ng-container *ngIf="pagedata ">
    <nz-card *ngFor="let item of pagedata.imggroup " class="cellbox ">
      <img class="coverimg " alt="example " [src]="item.cover " />
      <nz-card-meta class="infobox " [nzTitle]="item.title " [nzDescription]="item.desc "></nz-card-meta>
      <a routerLink="../../modelvideo/{{uid}}/{{item.cid}}" class="control-box ">
        <i class="anticon anticon-edit "></i>
      </a>
    </nz-card>
  </ng-container>
</div>
