<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" class="sider-left">
    <div class="logo">
      <div class="logo-text">
        模酷
      </div>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="./default">
        <span>
          <i class="anticon anticon-home"></i>
          <span class="nav-text">概览</span>
        </span>
      </li>
      <li nz-submenu>
        <span title routerLink="./userdefault">
          <i class="anticon anticon-user"></i>
          <span class="nav-text">管理员管理</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="./userlist">
            <i class="anticon anticon-user"></i>
            <span class="nav-text">所有管理员</span>
          </li>
          <li nz-menu-item routerLink="./userpermgroup">
            <i class="anticon anticon-team"></i>
            <span class="nav-text">权限组管理</span>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title routerLink="./modeldefault">
          <i class="anticon anticon-switcher"></i>
          <span class="nav-text">模特管理</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="./modellist">
            <i class="anticon anticon-solution"></i>
            <span class="nav-text">模特列表</span>
          </li>
          <li nz-menu-item routerLink="./modelgroup">
            <i class="anticon anticon-team"></i>
            <span class="nav-text">模特分类管理</span>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title routerLink="./uploaddefault">
          <i class="anticon anticon-file"></i>
          <span class="nav-text">文件上传</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="./uploadimglist">
            <i class="anticon anticon-picture"></i>
            <span class="nav-text">上传图片</span>
          </li>
          <li nz-menu-item routerLink="./upvideolist">
            <i class="anticon anticon-video-camera"></i>
            <span class="nav-text">上传视频</span>
          </li>
        </ul>
      </li>
      <li class="loginoutbtn" nz-menu-item (click)="loginout()">
        <span>
          <i class="anticon anticon-logout"></i>
          <span class="nav-text">退出登录</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="infobox-right">
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <ng-container *ngFor="let rowdata of actBcNav;let i = index">
          <nz-breadcrumb-item>
            <a *ngIf="i<actBcNav.length-1" routerLink="{{rowdata.url}}">{{rowdata.name}}</a>
            <span *ngIf="i==actBcNav.length-1">{{rowdata.name}}</span>
          </nz-breadcrumb-item>
        </ng-container>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Made by Momokara</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>
